[Desktop Entry]
Categories={{categories}}
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}} %F
StartupWMClass={{exec}}
Icon={{icon}}
Name={{name}}
GenericName=Document reader
Keywords=PDF;EPUB;ebook;reader;dark;notes;
Terminal=false
Type=Application
{{#if mime_type}}
MimeType={{mime_type}};
{{/if}}
